header {
  background-color: #012927;
  color: #6eb103;
  padding: 0.25em;
}
body {
  background-color: white;
  width: auto;
  height: auto;
}
.grid-wrapper {
  width:}
}
h2 {
  color: #09A7A1;
}
button {
  background-color: #FF790E;
}
footer {
  background-color: #012927;
  color: #6eb103;
  padding: 0.5em;
}