html, body {
  height: 100%;
  margin-left: 20 em;
  margin-right: 20 em;
  border-color: #011f27;
}
a {
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  color: inherit;
  margin: 20px 20px 20px 20px;
  text-align: center;
}
  a:hover {color: darkolivegreen;
    border-radius: 10px;
    border-style: solid;
    border-color: #ff00ff;
    color:darkblue;
    margin: 20px 20px 20px 20px;
    padding: 20px 30px 20px 30px;
    text-align: center;
}
.img {
  max-width: 640px;
  max-height: 425px;
  text-align: center;
}
.grid{
  max-width: 800px;
  margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, 800px);
}
.grid a {
    color: #968503;
    font-size: 16pt;
    padding: 10px;
    margin: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 10em;
    border-color: #011f27;
    max-width: 10px;
    align-self: center;    
}
.grid a:hover{ 
    background-color:olivedrab;
    border-color: #011f27;
    border-style: solid;
    border-width: 2px;
    color: #f3e367;   
 }
h1 {
  background-color: purple;
  font-family: 'Berkshire Swash', cursive;
  text-indent: 10px;
  padding-top: 10px;
}
h2 {
  font-family: 'Lobster', cursive;
  font-style: bold;
  color: #011f27;
}
h3 {
  color: #968503;
  font-style: italic;
}
div {
  background-color: lightblue;
}
 header {
   background-color: hsl(93, 76%, 37%);
   color: #FFFFFF;
 }
 nav {
background-color: hsl(180, 80%, 25%);
 }
 nav ul {
   margin: 0px;
   padding: 5px 0px 5px 30px;
 }

 nav li {
   display: inline;
   margin-right: 20px;
 }
 .button {
  background-color: transparent;
  padding: 20px 50px 20px 50px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 }
 .blurb {
   margin: 500px, 200px, 500px, 200px;
 }
 .container {
   height: 1000px;
   width: 900px;
 }
 .wrapper {
   min-height: 100%;
   margin-bottom: -50px;
 }
 .blueviolet-border {
  border-color:blueviolet;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  max-width: 400px;
  max-height: 425px;
  align-items: right;
 }