html, body {
  height: 100%;
  width: auto;
  margin-left: 5 em;
  margin-right: 5 em;
  border-color: #011f27;
}
body {
margin: 0;
background-image: "images/MarlboroughSounds.png" alt="Looking at Marlborough Sounds from the Taxi Boat";
background-size: cover;
padding: 11vw;
border-radius: 10px;
}
a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: inherit;
  margin: 10px 20px 10px 20px;
  text-align: center;
}
  a:hover {color: darkolivegreen;
    border-radius: 10px;
    border-style: solid;
    border-color: #ff00ff;
    color:darkblue;
    margin: 10px 20px 10px 20px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}
.img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.grid{
  max-width: 800px;
  margin-left: auto;
      margin-right: auto;
      display: grid;
}
.grid a {
    color: #968503;
    font-size: 16pt;
    padding: 10px;
    margin: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 10em;
    border-color: #011f27;
    max-width: 10px;
    align-self: center;    
}
.grid a:hover{ 
    background-color:olivedrab;
    border-color: #011f27;
    border-style: solid;
    border-width: 2px;
    color: #f3e367;   
 }
 -->
h1 {
  background-color: purple;
  font-family: 'Poiret One', cursive;
  text-indent: 10px;
  padding-top: 10px;
}
h2 {
  font-family: 'Lobster', cursive;
  font-style: bold;
  color: #011f27;
}
h3 {
  color: #968503;
  font-style: italic;
}
div.whanau {
  background-color: lightblue;
  display: grid;
  margin-left: 5em;
  margin-right: 5em;
  padding-left: 8em;
  padding-right: 8em;
  text-align: center;
  width: 1075px;
  height: 550px;
}
 header {
   background-color: hsl(93, 39%, 50%);
   color: #FFFFFF;
   padding-bottom: 1.5em;
 }
 nav {
background-color: hsl(180, 80%, 25%);
 }
 nav ul {
   margin: 0px;
   padding: 5px 0px 5px 30px;
 }

 nav li {
   display: inline;
   margin-right: 20px;
 }
 .button {
  background-color: transparent;
  padding: 20px 50px 20px 50px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 }
 .blurb {
   margin: 500px, 200px, 500px, 200px;
 }
 .container {
   height: 1000px;
   width: 900px;
 }
 <!--
 .wrapper {
   min-height: 100%;
   margin-bottom: -50px;
 }
 -->

 .blueviolet-border {
  border-color:blueviolet;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  max-width: 400px;
  max-height: 425px;
  align-items: right;
 }
 .whanau {
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 980px;
  height: 1050px;
}
.grid-wrapper {
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  align-content: center;
  padding-bottom: 1rem;
}
.wrapperimage {
object-fit: cover;
height: 200px;
width: 100%;
border-radius: 10px;
opacity: 1;
}

footer {
text-align: center;
}