* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: auto;
  margin-left: 5 em;
  margin-right: 5 em;
  border-color: #011f27;
  background-color: #f7f8fc;
}
body {
margin-left: 250px;
background-size: cover;
}
a {
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}
  a:hover {color: darkolivegreen;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border-style: solid;
    border-color:purple;
    color:darkblue;
    text-align: center;
}
.grid{
  max-width: 800px;
  margin-left: auto;
      margin-right: auto;
      display: grid;
}
.grid a {
    color: #968503;
    font-size: 16pt;
    padding: 10px;
    margin: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 10em;
    border-color: #011f27;
    max-width: 10px;
    align-self: center;    
}
.grid a:hover{ 
    background-color:olivedrab;
    border-color: #011f27;
    border-style: solid;
    border-width: 2px;
    color: #011f27;   
 }
 -->
h1 {
  background-color: purple;
  color: #FFFFFF;
  font-family: 'Poiret One', cursive;
  text-indent: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
h2 {
  font-family: 'Lobster', cursive;
  font-style: bold;
  color: #011f27;
}
h3 {
  color: #968503;
  font-style: italic;
}
div.whanau {
  background-color: lightblue;
  display: grid;
  margin-left: 5em;
  margin-right: 5em;
  padding-left: 8em;
  padding-right: 8em;
  text-align: center;
  width: 1075px;
  height: 550px;
}
 header {
  background-color: hsl(93, 39%, 50%);
  color: #FFFFFF;
  padding-bottom: 0.5em;
 }
 nav {
  font-family: 'Lobster', cursive;
  position: fixed;
  top: 0;
  left:0;
  width: 250px;
  height: 100%;
  background-color: hsl(93, 39%, 50%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  padding-bottom: 1.5em;
 }
 nav a {
   display:inline-block;
   text-decoration: tan;
   padding: 5px 15px;
 }
 nav img {
   width: 70%;
   display: block;
   margin-bottom: 35px;  
 }
 nav ul {
   margin: 0px;
   padding: 5px 0px 5px 30px;
 }

 nav li {
   display: inline;
   margin-right: 20px;
 }
 main {
   padding: 10px;
 }
 .button {
  background-color: transparent;
  padding: 20px 50px 20px 50px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 }
 .sprintButton {
  font-family: 'Poiret One', cursive;
  color: #FFFFFF;
  text-shadow: blue;
  margin: 10px;
  padding-top: 10px;
  background-color:olivedrab;
  border-color: #011f27;
  border-style: solid;
  
  }
 .blurb {
   margin: 500px, 200px, 500px, 200px;
 }
 .container {
   height: 1000px;
   width: 900px;
 }
 <!--
 .wrapper {
   min-height: 100%;
   margin-bottom: -50px;
 }
 -->

 .blueviolet-border {
  border-color:blueviolet;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  max-width: 400px;
  max-height: 425px;
  align-items: right;
 }
 .whanau {
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 980px;
  height: 1050px;
}
.grid-wrapper {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  align-content: center;
  padding-bottom: 1rem;
}
.wrapperimage {
object-fit: cover;
height: 200px;
width: 100%;
border-radius: 10px;
opacity: 1;
}

footer {
text-align: center;
}
.contactable {
  box-shadow: yellow;
  margin: 10px 20px 10px 20px;
  padding: 20px;
  width: 20 em;
}